<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true"
         bootstrap="tests/bootstrap.php"
         color="always">
    <testsuites>
        <testsuite name="config">
            <directory>./tests/Config/</directory>
        </testsuite>
        <testsuite name="design">
            <directory>./tests/Design/</directory>
        </testsuite>
        <testsuite name="log">
            <directory>./tests/Log/</directory>
        </testsuite>
        <testsuite name="Model">
            <directory>./tests/Model/</directory>
        </testsuite>
        <testsuite name="retry">
            <directory>./tests/Retry/</directory>
        </testsuite>
        <testsuite name="sql">
            <directory>./tests/Sql/</directory>
        </testsuite>
        <testsuite name="validation">
            <directory>./tests/Validation/</directory>
        </testsuite>
    </testsuites>
</phpunit>