<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true"
         bootstrap="tests/bootstrap.php"
         color="always">
    <testsuites>
        <testsuite name="validation">
            <directory>./tests/Validation/</directory>
        </testsuite>
        <testsuite name="retry">
            <directory>./tests/Retry/</directory>
        </testsuite>
        <testsuite name="sql">
            <directory>./tests/Sql/</directory>
        </testsuite>
    </testsuites>
</phpunit>